<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Estación de Sillones</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="" (click)="closeMenu()">Productos</a></li>
        <li><a routerLink="/sobre-nosotros" (click)="closeMenu()">Sobre Nosotros</a></li>
        <li><a routerLink="/contacto" (click)="closeMenu()">Contacto</a></li>
        <!-- <li><a routerLink="/proyectos" (click)="closeMenu()">Proyectos</a></li> -->
        <!-- <li><a routerLink="/contacto" (click)="closeMenu()">Contacto</a></li> -->
      </ul>
    </div>
  </div>
</nav>

