<div class="container text-center">
  <h3>Algunos de Nuestros Productos!</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="../../assets/IMG-20210420-WA0032.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Sillón 3 cuerpos con Reposa Pies</p>
    </div>
    <div class="col-sm-4">
      <img src="../../assets/20201207_194656.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Sillon 2 cuerpos</p>
    </div>
    <!-- <div class="col-sm-4">
      <div class="well">
       <p>Somos Fabrica de Sillones, nos especializamos en la comodidad de tu serie, partido o evento. Seguidnos en nuestras redes y conócenos mas...</p>
      </div>
    </div> -->
  </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br>
